<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="databaseConnectionFirebird" connectionString="User=SYSDBA; Password=masterkey; DataSource=127.0.0.1; Database=C:\\Users\\JulioCésar\\Desktop\\Projetos\\Data\\impacto\\impacto.fdb;Port=3050;Dialect=3; "/>
    <add name="databaseConnectionSqlServer" connectionString="Server=JULIOMURTA; Database=Murta;User Id=sa; Password=tezcatlipoca;"/>
    <add name="databaseConnectionMySql" connectionString="Server=localhost;Database=murta;Uid=root;Pwd=tezcatlipoca;"/>
    <add name="databaseConnectionPostgres" connectionString="Server=127.0.0.1;Port=5432;Database=murta;User Id=postgres; Password=123456;"/>
  </connectionStrings>
  <appSettings>
    <!--Firebird-->
    <add key="FirebirdAssembly" value="C:\Users\JulioCésar\Desktop\Projetos\OrdemServico\packages\FirebirdSql.Data.FirebirdClient.4.5.2.0\lib\net40-client\FirebirdSql.Data.FirebirdClient.dll"/>
    <add key="FirebirdConnectionClass" value="FirebirdSql.Data.FirebirdClient.FbConnection"/>
    <!--Sql Server-->
    <add key="SqlServerAssembly" value="System.Data.dll"/>
    <add key="SqlServerConnectionClass" value="System.Data.SqlClient.SqlConnection"/>
    <!--MySQL-->
    <add key="MysqlAssembly" value="MySql.Data.dll"/>
    <add key="MysqlConnectionClass" value="MySql.Data.MySqlClient.MySqlConnection"/>
    <!--Postgres-->
    <add key="PostgresAssembly" value="Npgsql.dll"/>
    <add key="PostgresConnectionClass" value="Npgsql.NpgsqlConnection"/>
    <add key="ActiveDatabaseAssembly" value="FirebirdAssembly"/>
    <add key="ActiveConnectionString" value="databaseConnectionFirebird"/>
    <add key="ActiveConnectionClass" value="FirebirdConnectionClass"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient"/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.2.0" newVersion="4.5.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>